body {
    background: cyan;
}
header {
    text-align: center;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid black;
    margin: 10px;
}
footer {
    text-align: center;
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top: 2px solid black;
    margin-top: 10px;
}
/* Forsíðan */
li {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    align-items: center;
}
a {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}
a:hover {
    color: seagreen;
}
.formynd {
    width: 100px;
    height: 100px;
    
}


/* Frett Síðan */
.titill {
    font-family: arial;
    color: lightsalmon;
}
.grein {
    display: grid;
    text-align: center;
    grid-template-areas: "texti mynd"
}
.mynd {
    width: 25em;
    height: 25em;
}
.divmynd {
    grid-area: "mynd";
}
.netfang {
    font-style: italic;
    font-weight: bold;
}